{% extends 'header.html' %}
{% block profile %}
<head>

</head>
<body>

<div class="container">
    <h2 class="text-center mt-4">Profile</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h3>Task 1</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h3>Task 2</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h3>Task 3</h3>

            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}