{% extends 'header.html' %}
{% block task1 %}
<head>
    <style>
        #threejs-canvas-container{
            position:relative;
            width: 70%;
            height: 360px;
            margin: 0 auto;
            overflow:hidden;
        }
        canvas{
            display: block;
            width: 100%;
            height: 100%;
        }
        .option-img{
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Task 1</h2>
            </div>
            <div class="card-body">
                <div id="threejs-canvas-container">
                </div>
                <div class="row mt-5">
                    <div class="col-md-3">
                        <div class="card">
                            <img class="option-img d-block mx-auto" src="../static/images/task1/q1/1.png">
                            <div class="card-body">
                                <h4 class="text-center">Option A</h4>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-3">
                        <div class="card">
                            <img class="option-img d-block mx-auto" src="../static/images/task1/q2/1.png">
                            <div class="card-body">
                                <h4 class="text-center">Option B</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img class="option-img d-block mx-auto" src="../static/images/task1/q2/2.png">
                            <div class="card-body">
                                <h4 class="text-center">Option C</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img class="option-img d-block mx-auto" src="../static/images/task1/q3/1.png">
                            <div class="card-body">
                                <h4 class="text-center">Option D</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>

<script>
    const scene = new THREE.Scene(); // Container that holds all 3d-objects
    // perspective of rendering scence
    const camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000);
    // Object for rending the 3d on webbrowser
    const renderer = new THREE.WebGLRenderer({antialias:true});

    const container = document.getElementById('threejs-canvas-container');
    renderer.setSize(container.clientWidth, container.clientHeight);
    container.appendChild(renderer.domElement);
    // function that generate a single cube
    function createCubeWithOutline(x,y,z,color){
        // Create one cube with width, height, and depth of unit(size) 1;
        const geometry = new THREE.BoxGeometry(1,1,1);
        // For setting the color of the cube
        const material = new THREE.MeshBasicMaterial({color: color});
        // Now generate a 3D graphic with the given shape with size and color;
        const cube = new THREE.Mesh(geometry, material);

        const edges = new THREE.EdgesGeometry(geometry);
        const lineMaterial = new THREE.LineBasicMaterial({color:'white'});
        const outline = new THREE.LineSegments(edges, lineMaterial);

        // group is a set of genrated 3D grahpics
        const group = new THREE.Group;
        group.add(cube);
        group.add(outline);

        // We are setting the position of the generated 3d graphic
        group.position.set(x,y,z);
        return group;
    }
    // 3x3x3 block --> 27 cubes
    const blockSize = 1.3; // larger value will make more spaces between the blocks
    const colors = ['red'];

    // for loops for generating 27 cubes
for (let x = -1; x<=1; x++){
        for (let y = -1; y<=1; y++){
            for (let z = -1; z<=1; z++){
                // Remove the block at coordinate(1,-1,1)
                 // which is the frontmost-rightmost block
                if (x === 1 & y===-1 & z === 1){
                    continue;
                }
                // Remove the block at coordinate(1,-1,-1)
                 // which is the backmost-rightmost block
                 if (x === 1 & y===-1 & z === -1){
                    continue;
                }
                 if (x === 0 & y===-1 & z === 1){
                    continue;
                }
                 if (x === 1 & y===1 & z === 0){
                    continue;
                }
                if (x === -1 & y===0 & z === -1){
                    continue;
                }
                if (x === -1 & y===1 & z === -1){
                    continue;
                }

                const cubeGroup = createCubeWithOutline(x*blockSize, y*blockSize, z*blockSize, colors[0]);
                scene.add(cubeGroup);
            }
        }
    }
    camera.position.z = 7;

    //object that allows the user to click and rotate the 3d shape
    const controls = new THREE.OrbitControls(camera, renderer.domElement);

    // funciton for animating the 3D image on the browswer
    function animate(){
        requestAnimationFrame(animate);
        controls.update();
        renderer.render(scene, camera);
    }
    animate();


</script>
</body>
{% endblock %}

</html>